 @import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Montserrat&family=Open+Sans:wght@300;400&display=swap');

 *{
    padding:0;
    margin: auto;
    text-decoration: none;
    box-sizing: border-box;
 }

 body{
   background-color: #060606;
   margin: 0 auto;
 }

 header {
    background: #060606;
    display: flex;
    align-items: center;
    justify-content: space-around;

 }

 header h1{
    color:#bdbdcf;
    font-family:'AR One Sans' ;
    font-weight: bold;
    font-size: 3rem;
 }

 header span{
    color: cyan;
    font-family:'AR One Sans' ;
    font-weight: bold;
    font-size: 3rem;
 }

 header .nav-1{
   display: flex;
   justify-content: space-between;
   gap:0.5rem;
   align-items: center;
   list-style-type: none;
 }

 header .nav-1 li a{
   color:rgb(244, 224, 224);
   font-size: 1rem;
   padding: 1rem;
 }

 .secao {
   animation: iniciar .7s forwards;
   background-color: #060606;
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-content: space-around;
   align-items: center;
   gap: 3rem;
   padding:3rem;
   
 }

.secao div{
   display: grid;
   align-self: start;
   margin-top: 4rem;
   gap: 2rem;
}

 .secao  h1{
   margin-top: 1rem;
   align-self: start;
   display: grid;
   gap: 1.5rem;
 }
 .secao  h2{
   font-family:'AR One Sans' ;
   font-weight: bold;
   color: #bdbdcf;
 }

 .secao div p{
   font-family:'AR One Sans';
   font-weight: 300;
   color: #bdbdcf;

 }

 .secao div a{
   justify-self: start ;
   color: #bdbdcf;
   padding: 1.5rem 2.5rem;
   border: 2px solid gray;
   border-radius: 0.5px;
 }

 .circle {
   background-color: #aaa;
   border-radius: 50%;
   width: 25rem;
   height: 25rem;
   overflow: hidden;
   position: relative;
 }
 
 .circle img {
   position: absolute;
   bottom: 0;
   width: 100%;
 }

 @keyframes iniciar{
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
 }

 @keyframes piscando{
   from {
     opacity: 0;
   }

   to {
     opacity: 1;
   }
}
 .digitando::after {
   content: '|';
   margin-left: .5rem;
   opacity: 1;
   animation: piscando .5s infinite;

 }